<footer class="page-footer font-small bg-dark fs-6 align-items-center text-white">

    <div class="container">

        <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8 text-center text-md-start">
              <!-- Copyright -->
              <div class="p-3">
  
                © Coded By Jhonatan Medeiros Tindin - test for job Position !
  
              </div>
              <!-- Copyright -->
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
              <!-- Github -->
  
              <a class="btn-lg m-1 text-left"
              href="https://www.linkedin.com/in/jhonatanmedeiros/" target="_blank"><i class="fab fa-linkedin rounded-circle border border-white" title="Linkedin"></i></a>

              <a class="btn-lg m-1 text-left"
              href="https://github.com/JhonMeddev" target="_blank"><i class="fab fa-github-alt rounded-circle border border-white" title="Github"></i></a>
  
            </div>
            <!-- Grid column -->
          </div>

    </div>

</footer>
