<div class="container-fluid bg-black tela">

  <div class="row text-light pt-5">
    <div class="titulo d-flex align-items-center justify-content-center">

      <i class="mr-2 ml-2 fas fa-home"></i> <h1 class="small my-0"> | Name Of Game Here</h1>

    </div>
  </div>

  <div class="container-fluid d-flex justify-content-center row mt-5">

    <div class="col-md-4">

      <img src="{{gameId.photos[0].url}}">

    </div>

    <div class="col-md-4 text-light">

      <h4><span class="badge bg-danger">nota/10</span>  TITULO</h4>
      <p class="small umaLinha"> Resume game here limited of one line...</p>
      <hr>
      <ul class="lista">
        <li>Genres: </li>
        <li>Studio: </li>
        <li>Productor:</li>
        <li>Total votes:</li>
        <li>Company:</li>
        <li>Platforms:</li>
        <li>Tags:</li>
      </ul>
      <hr>
      <h5 class="muted">Medium Price</h5><span class="text-danger">$10.00</span>
      <p class="small mt-5 mb-5">Release date: 01/01/2022</p>
      <button class="btn btn-danger px-2 mb-3">VOTE NOW</button>
      <hr>

    </div>
  </div>

  <div class="row text-light pt-5">
    <div class="titulo d-flex align-items-center justify-content-center">

      <h1 class="small text-danger mb-5">DESCRIPTION</h1>

    </div>
  </div>

  <div class="container d-flex align-items-center justify-content-center bg-secondary text-dark descricao">
    <p class=" ">
      {{gameId.description}}
    </p>
  </div>

</div>
