<nav class="navbar bg-black color-ligth mb-5">

  <div class="container-fluid">

    <div class="row d-flex justify-content-center">
      <div class="col-md-6 text-light">
        <h1>GAMES</h1>
        <h3 class="small">Games manager portal</h3>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <form class="" role="search">

          <input class="form-control border border-danger" type="search" placeholder="Search from" aria-label="Search">

          <button routerLink="/cadastroGame" class="btn btn-outline-danger" type="submit">NEW GAME</button>

        </form>
      </div>
    </div>

  </div>

</nav>

<div class="container-fluid bg-black vh-100 mt-5">

  <div class="container col-md-12">

      <div class="card-group mt-5">
          <div class="card mb-5">
            <img src="https://i.blogs.es/ec087a/26160-wallpaper-counter-strike-source/1366_2000.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card mb-5">
            <img src="https://i.blogs.es/ec087a/26160-wallpaper-counter-strike-source/1366_2000.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card mb-5">
            <img src="https://i.blogs.es/ec087a/26160-wallpaper-counter-strike-source/1366_2000.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card mb-5">
              <img src="https://i.blogs.es/ec087a/26160-wallpaper-counter-strike-source/1366_2000.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
        </div>

  </div>


</div>
