<div class="container-fluid bg-black">

  <!----------------------MENU LOGADO----------------->

  <div class="container color-ligth py-4" *ngIf="auth.logado()">


      <div class="text-light d-flex justify-content-between align-items-center">
          <div>
              <h1>GAMES</h1>
              <p>Games manager portal</p>
          </div>

          <div>
              <form class="d-flex" role="search">
                  <input [(ngModel)]="titleGame" (keyup)='findByTitle()' class="form-control border border-danger" type="search" placeholder="Search from" aria-label="Search">
                  <button routerLink="/cadastroGame" class="px-5 btn btn-danger text-nowrap" type="submit">NEW GAME</button>
              </form>
          </div>
      </div>

  </div>

  <!----------------------MENU LOGADO----------------->



  <!--------------CARROSEL DE IMAGENS----------------->

   <div class="container py-5" *ngIf="!auth.logado()">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://compass-ssl.xbox.com/assets/d7/29/d7299dda-c153-4b60-9040-a6266b22ffd6.jpg?n=Assassins-Creed-Valhalla_GLP-Page-Hero-0_NCSA_1083x609_02.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://sm.ign.com/t/ign_br/news/m/mortal-kom/mortal-kombat-x-boss-addresses-online-multiplayer_6yap.h720.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://s2.glbimg.com/5XWAiZWLsKaTFEsjNl89L5NjMpE=/0x0:695x381/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2021/y/W/BbDO06TMOuDz1sTpcJMA/2017-01-19-resident-evil-7-biohazard-artwork-004.jpg"
                    class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
    </div>

</div>

  <!--------------CARROSEL DE IMAGENS----------------->



  <!--------------CONTAINER DOS JOGOS----------------->

  <div class="container p-5">
      <div class="cards text-light">
          <div *ngFor="let item of listaGames$ | async">
              <div class="card">
                  <img [routerLink]="['/game', item._id]" src="{{item.photos[0].url}}">
                  <div class="descricao mt-3">
                      <h5 [routerLink]="['/game', item._id]" class="titulo">{{item.title}}</h5>
                      <h5 class="preco"><strong>{{item.mediumPrice | currency: 'USD'}}</strong></h5>
                      <h5><span class="badge bg-danger">{{item.rating}}/10</span></h5>
                  </div>
              </div>
          </div>
      </div>



  </div>

  <!--------------CONTAINER DOS JOGOS----------------->

</div>
